@tailwind base;
    td, th {
        @apply w-1/3;
    }

@tailwind components;
    .font-bb {
        @apply font-bbFont;
    }
    .titulosMain {
        @apply text-6xl underline uppercase;
    }
    .quadroBranco {
        @apply bg-white rounded-3xl text-black;
    }
    .menu {
        @apply bg-seaBlue py-16 px-8 rounded-bl-3xl shadow-2xl;
    }
    .telaBranca {
        @apply bg-white py-16 px-20 text-black rounded-3xl bg-fundo;
    }
    .janela {
        @apply fixed top-36 bg-white bg-fundo text-black p-10 rounded-3xl w-1/2 grid gap-5;
    }
    .tituloJanela {
        @apply text-3xl uppercase;
    }
    .overlay {
        @apply bg-black opacity-60 fixed top-0 right-0 bottom-0 left-0;
    }
    .input {
        @apply bg-transparent border-solid border-2 border-black rounded-3xl py-3 px-10;
    }
    .inputAlterar {
        @apply px-3 py-1.5 rounded-lg;
    }

@tailwind utilities;

@font-face {
    font-family: "mainFont";
    src: local("Marcellus-Regular");
    src: url("./assets/fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "bbFont";
    src: local("Irish_Grover");
    src: url("./assets/fonts/Irish_Grover/IrishGrover-Regular.ttf") format("truetype");
}

